  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f5f6fa;
    }

    .dashboard {
      display: flex;
    }

    /* Sidebar */
    .sidebar {
      width: 250px;
      background: #0e84de;
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .profile {
      padding: 20px;
      text-align: center;
      border-bottom: 1px solid #2f3640;
      font-weight: 500;
    }

    .profile img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .profile h5 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }

    .menu {
      padding: 20px 0;
    }

    .menu a {
      display: block;
      padding: 12px 20px;
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
    }

    .menu a:hover {
      background: #005698;
      color: #fff;
    }

    /* Main content */
    .content {
      flex: 1;
      padding: 30px;
    }

    .card {
      border-radius: 10px;
    }
    .logout {
      color: #ca330e;
    }